html {
    background: linear-gradient(46.19deg, #000000 5.66%, #434343 94.35%);
}

body {
    height: 100vh;
    background: url("https://assets.codepen.io/6060109/versus-bg.png") no-repeat center;
    background-size: cover;
    display: flex;
    align-items: space-between;
    width: 100%;
    font-family: Aclonica;
}

.mayweather-container,
.logan-container {
    position: relative;
}

.mayweather-container {
    height: 100%;
    width: 50%;
    background:no-repeat center top url(https://assets.codepen.io/6060109/mayweather.png);
}

.logan-container {
    height: 100%;
    width: 50%;
    background: url(https://assets.codepen.io/6060109/loganpaul.png) no-repeat center top;
}

.text-container-tc1{
    background: no-repeat url("https://assets.codepen.io/6060109/yellow-text-wrapper.png") ;
    height: 15%;
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    bottom: 10%;
    font-size: 24px;
    text-align: center;
    left: -10%;
    padding-left: 100px;

}

.text-container-tc1 h1{

}

.text-container-tc2 h1{
    padding-left: 200px;

}

.text-container-tc2{
    background: no-repeat url("https://assets.codepen.io/6060109/yellow-text-wrapper.png") ;
    height: 15%;
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    bottom: 10%;
    font-size: 24px;
    right: -10%;
}

.text-container-2 h1 {
    padding-left: 200px;
}

.clock {
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 36px;
    color: white;
}